/* TODO: add more thorough/prettier hover/active/focus effects (animations?) */
/* TODO: border radius? */

/* BUTTONS */

.button {
    @extend .d-b;
    @extend .cur-p;
    @extend .whs-nw;
    @extend .ta-c;
    @extend .bds-n;
    @extend .bdw-0;
    @extend .ff-i;
    @extend .fz-i;
    @extend .td-n;
    @extend .c-tc;
    @extend .user-select-none;
}

$size-list: "xs" "sm" "md" "lg" "xl";

@each $current-size in $size-list {
    .button--#{$current-size} {
        @extend .p-#{$current-size};
    }
}

$color-list: "pr" "se" "te" "qa" "qi" "ac";

@each $current-color in $color-list {
    .button--#{$current-color} {
        @extend .bgc-#{$current-color};

        /* NOTE: link pseudo-classes are attached to individual atomic color classes,
            so their order in the .css file may affect their functionality! */

        &:hover {
            @extend .bgc-#{$current-color}lt;
        }

        &:active {
            @extend .bgc-#{$current-color}dk;
        }

        &:focus {
            @extend .bgc-#{$current-color}dk;
        }
    }
}