/* LISTS */

/* definition list */
/* http://pea.rs/lists/definition */

.definition-list {
    > dt {
        @extend .fw-b;
        @extend .mb-xs;
    }

    > dd {
        @extend .mb-md;
        @extend .ml-0;
        @extend .c-tclt;
    }
}

/* stats tabs */
/* http://pea.rs/lists/stats-tabs */

.stats-tabs {
    @extend .lis-n;
    @extend .cf;

    > li {
        @extend .fl-l;
        @extend .ml-md;
        @extend .pl-md;

        @extend .bdlw-1;
        @extend .bdlst-s;
        @extend .bdlc-tclt;

        &:first-child {
            @extend .m-0;
            @extend .p-0;
            @extend .bd-n;
        }
    }
}

.stats-tabs__item {
    @extend .d-b;

    @extend .fz-md;
    @extend .fw-b;
}

.stats-tabs__subtext {
    @extend .d-b;
    @extend .mt-xs;

    @extend .fz-xs;
    @extend .fw-n;
}

/* button tags */
/* http://pea.rs/lists/tags-buttons */

.button-tags {
    @extend .lis-n;
    @extend .cf;

    > li {
        @extend .fl-l;
        @extend .ml-xs;

        &:first-child {
            @extend .m-0;
        }
    }
}

.button-tags__item {
    @extend .pos-r;
    @extend .d-b;
    @extend .pt-xs;
    @extend .pr-sm;
    @extend .pb-xs;
    @extend .pl-lg;

    @extend .c-w;

    @extend .bgc-prxdk;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    &:hover {
        @extend .c-w;
        @extend .bgc-prlt;
    }

    &:active {
        @extend .c-w;
        @extend .bgc-prdk;
    }

    &:focus {
        @extend .c-w;
        @extend .bgc-prdk;
    }
}