/* ALIGNMENT */

.va-t {  vertical-align: top; }
.va-m {  vertical-align: middle; }
.va-bl { vertical-align: baseline; }
.va-b {  vertical-align: bottom; }

.ta-st { text-align: left; }
.ta-nd { text-align: right; }
.ta-c {  text-align: center; }
.ta-j {  text-align: justify; }