/* BACKGROUND */

.bg-n { background: none; }

.bgc-w {    background-color: white; }
.bgc-b {    background-color: black; }
.bgc-t {    background-color: transparent; }

@mixin atomic-background-color-set($suffix, $background-color) {
    .bgc-#{$suffix} {   background-color: $background-color; }
    .bgc-#{$suffix}dk { background-color: mix($background-color, white, 75%); }
    .bgc-#{$suffix}md { background-color: mix($background-color, white, 50%); }
    .bgc-#{$suffix}lt { background-color: mix($background-color, white, 25%); }
}

@include atomic-background-color-set("pr", $color-primary);
@include atomic-background-color-set("se", $color-secondary);
@include atomic-background-color-set("te", $color-tertiary);
@include atomic-background-color-set("qa", $color-quaternary);
@include atomic-background-color-set("qi", $color-quinary);

@include atomic-background-color-set("ac", $color-accent);

.bgi-n { background-image: none; }

.bgr-n {  background-repeat: no-repeat; }
.bgr-x {  background-repeat: repeat-x; }
.bgr-y {  background-repeat: repeat-y; }
.bgr-sp { background-repeat: space; }
.bgr-rd { background-repeat: round; }

.bga-f { background-attachment: fixed; }
.bga-s { background-attachment: scroll; }

.bgp-0 { background-position: 0 0; }

.bgbk-bb { background-break: bounding-box; }
.bgbk-eb { background-break: each-box; }
.bgbk-c {  background-break: continuous; }

.bgcp-bb { background-clip: border-box; }
.bgcp-pb { background-clip: padding-box; }
.bgcp-cb { background-clip: content-box; }
.bgcp-nc { background-clip: no-clip; }

.bgo-pb { background-origin: padding-box; }
.bgo-bb { background-origin: border-box; }
.bgo-cb { background-origin: content-box; }

.bgsz-a {  background-size: auto; }
.bgsz-ct { background-size: contain; }
.bgsz-cv { background-size: cover; }