/* BORDER */

.bd-n { border: none; }

/* TODO: add classes for user's custom borders */

.bdbk-c { border-break: close; }

.bdcl-c { border-collapse: collapse; }
.bdcl-s { border-collapse: separate; }

/* TODO: add more border styles and mixins for browser prefixes */

.bdc-t { border-color: transparent; }
.bdc-w { border-color: white; }
.bdc-b { border-color: black; }

.bdi-n { border-image: none; }

.bdti-n { border-top-image:    none; }
.bdri-n { border-right-image:  none; }
.bdbi-n { border-bottom-image: none; }
.bdli-n { border-left-image:   none; }

.bdci-n { border-corner-image: none; }
.bdci-c { border-corner-image: continue; }

.bdtli-n { border-top-left-image:  none; }
.bdtli-c { border-top-left-image:  continue; }
.bdtri-n { border-top-right-image: none; }
.bdtri-c { border-top-right-image: continue; }

.bdbri-n { border-bottom-right-image: none; }
.bdbri-c { border-bottom-right-image: continue; }
.bdbli-n { border-bottom-left-image:  none; }
.bdbli-c { border-bottom-left-image:  continue; }

.bdf-c {  border-fit: clip; }
.bdf-r {  border-fit: repeat; }
.bdf-sc { border-fit: scale; }
.bdf-st { border-fit: stretch; }
.bdf-ow { border-fit: overwrite; }
.bdf-of { border-fit: overflow; }
.bdf-sp { border-fit: space; }

.bdlen-a { border-length: auto; }

.bds-n {      border-style: none; }
.bds-h {      border-style: hidden; }
.bds-dt {     border-style: dotted; }
.bds-ds {     border-style: dashed; }
.bds-s {      border-style: solid; }
.bds-db {     border-style: double; }
.bds-dtds {   border-style: dot-dash; }
.bds-dtdtds { border-style: dot-dot-dash; }
.bds-w {      border-style: wave; }
.bds-g {      border-style: groove; }
.bds-r {      border-style: ridge; }
.bds-i {      border-style: inset; }
.bds-o {      border-style: outset; }

/* TODO: add generated edge borders */

.bdt-n {  border-top:       none; }
.bdts-n { border-top-style: none; }
.bdtc-t { border-top-color: transparent; }

.bdr-n {   border-right:       none; }
.bdrst-n { border-right-style: none; }
.bdrc-t {  border-right-color: transparent; }

.bdb-n {  border-bottom:       none; }
.bdbs-n { border-bottom-style: none; }
.bdbc-t { border-bottom-color: transparent; }

.bdl-n {  border-left:       none; }
.bdls-n { border-left-style: none; }
.bdlc-t { border-left-color: transparent; }

.bdrs-0 { border-radius: 0; }

.bdtrrs-0 { border-top-right-radius:    0; }
.bdtlrs-0 { border-top-left-radius:     0; }
.bdbrrs-0 { border-bottom-right-radius: 0; }
.bdblrs-0 { border-bottom-left-radius:  0; }