/* BORDER */

.bd-n {   border: none; }
.bdcl-c { border-collapse: collapse; }
.bdrs-0 { border-radius: 0; }
.bdtrrs-0 { border-top-right-radius: 0; }
.bdtlrs-0 { border-top-left-radius: 0; }
.bdbrrs-0 { border-bottom-right-radius: 0; }
.bdblrs-0 { border-bottom-left-radius: 0; }
.bdtrs-0 {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.bdrrs-0 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.bdbrs-0 {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.bdlrs-0 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* TODO: add more border styles and mixins for browser prefixes */