/* BOX-SHADOW */

.bxsh-n { box-shadow: none; }

/* TODO: are we able to supply some default box shadows?
    .bxsh { box-shadow: inset hoff voff blur color; }
    .bxsh-r { box-shadow: inset hoff voff blur spread rgb(0, 0, 0); }
    .bxsh-ra { box-shadow: inset h v blur spread rgba(0, 0, 0, .5); }
*/