/* COLOR */

.c-w {  color: white; }
.c-b {  color: black; }

@mixin atomic-color-set($suffix, $color) {
    .c-#{$suffix} {   color: $color; }
    .c-#{$suffix}dk { color: mix($color, white, 75%); }
    .c-#{$suffix}md { color: mix($color, white, 50%); }
    .c-#{$suffix}lt { color: mix($color, white, 25%); }
}

@include atomic-color-set("tc", $text-color);

@include atomic-color-set("pr", $color-primary);
@include atomic-color-set("se", $color-secondary);
@include atomic-color-set("te", $color-tertiary);
@include atomic-color-set("qa", $color-quaternary);
@include atomic-color-set("qi", $color-quinary);

@include atomic-color-set("ac", $color-accent);