/* LIST */

.lis-n { list-style: none; }

.lisp-i { list-style-position: inside; }
.lisp-o { list-style-position: outside; }

.list-n {    list-style-type: none; }
.list-d {    list-style-type: disc; }
.list-c {    list-style-type: circle; }
.list-s {    list-style-type: square; }
.list-dc {   list-style-type: decimal; }
.list-dclz { list-style-type: decimal-leading-zero; }
.list-lr {   list-style-type: lower-roman; }
.list-ur {   list-style-type: upper-roman; }

.lisi-n { list-style-image: none; }