/* MARGIN */

@mixin atomic-margin-set($suffix, $margin) {
    .m-#{$suffix} {  margin:        $margin; }
    .mt-#{$suffix} { margin-top:    $margin; }
    .mr-#{$suffix} { margin-right:  $margin; }
    .mb-#{$suffix} { margin-bottom: $margin; }
    .ml-#{$suffix} { margin-left:   $margin; }
}

@include atomic-margin-set("0", 0);
@include atomic-margin-set("a", auto);

@include atomic-margin-set("xs", ($base-spacing-unit / 4));
@include atomic-margin-set("sm", ($base-spacing-unit / 2));
@include atomic-margin-set("md", $base-spacing-unit);
@include atomic-margin-set("lg", ($base-spacing-unit * 2));
@include atomic-margin-set("xl", ($base-spacing-unit * 4));