.m-a {   margin: auto; }
.mt-a {  margin-top: auto; }
.mr-a {  margin-right: auto; }
.mb-a {  margin-bottom: auto; }
.ml-a {  margin-left: auto; }
.mtb-a {
    margin-top: auto;
    margin-bottom: auto;
}
.mlr-a {
    margin-left: auto;
    margin-right: auto;
}

/* TODO: add calculated classes for numeric styles */