/* OVERFLOW */

.ov-h { overflow: hidden; }
.ov-v { overflow: visible; }
.ov-s { overflow: scroll; }
.ov-a { overflow: auto; }

.ovx-h { overflow-x: hidden; }
.ovx-v { overflow-x: visible; }
.ovx-s { overflow-x: scroll; }
.ovx-a { overflow-x: auto; }

.ovy-h { overflow-y: hidden; }
.ovy-v { overflow-y: visible; }
.ovy-s { overflow-y: scroll; }
.ovy-a { overflow-y: auto; }