/* PADDING */

@mixin atomic-padding-set($suffix, $padding) {
    .p-#{$suffix} {  padding:        $padding; }
    .pt-#{$suffix} { padding-top:    $padding; }
    .pr-#{$suffix} { padding-right:  $padding; }
    .pb-#{$suffix} { padding-bottom: $padding; }
    .pl-#{$suffix} { padding-left:   $padding; }
}

@include atomic-padding-set("0", 0);
@include atomic-padding-set("a", auto);

@include atomic-padding-set("xs", ($base-spacing-unit / 4));
@include atomic-padding-set("sm", ($base-spacing-unit / 2));
@include atomic-padding-set("md", $base-spacing-unit);
@include atomic-padding-set("lg", ($base-spacing-unit * 2));
@include atomic-padding-set("xl", ($base-spacing-unit * 4));