.p-a {    padding: auto; }
.pt-a {   padding-top: auto; }
.pr-a {   padding-right: auto; }
.pb-a {   padding-bottom: auto; }
.pl-a {   padding-left: auto; }
.ptb-a {
    padding-top: auto;
    padding-bottom: auto;
}
.plr-a {
    padding-left: auto;
    padding-right: auto;
}

/* TODO: add calculated classes for numeric styles */