/* POSITION */

.pos-r { position: relative; }
.pos-s { position: static; }
.pos-a { position: absolute; }
.pos-f { position: fixed; }

.t-0 { top:    0; }
.r-0 { right:  0; }
.b-0 { bottom: 0; }
.l-0 { left:   0; }
.t-a { top:    auto; }
.r-a { right:  auto; }
.b-a { bottom: auto; }
.l-a { left:   auto; }