/* POSITION */

.pos-r { position: relative; }
.pos-s { position: static; }
.pos-a { position: absolute; }
.pos-f { position: fixed; }

.t {   top: 0; }
.r {   right: 0; }
.b {   bottom: 0; }
.l {   left: 0; }
.t-a { top: auto; }
.r-a { right: auto; }
.b-a { bottom: auto; }
.l-a { left: auto; }