/* TYPOGRAPHY */

.fw-n {  font-weight: normal; }
.fw-b {  font-weight: bold; }
.fw-br { font-weight: bolder; }
.fw-lr { font-weight: lighter; }
.fw-1 {  font-weight: 100; }
.fw-2 {  font-weight: 200; }
.fw-3 {  font-weight: 300; }
.fw-4 {  font-weight: 400; }
.fw-5 {  font-weight: 500; }
.fw-6 {  font-weight: 600; }
.fw-7 {  font-weight: 700; }
.fw-8 {  font-weight: 800; }

.fs-n {  font-style: normal; }
.fs-i {  font-style: italic; }

.fz-xs { font-size: $base-font-size-xs; }
.fz-sm { font-size: $base-font-size-sm; }
.fz-md { font-size: $base-font-size-md; }
.fz-lg { font-size: $base-font-size-lg; }
.fz-xl { font-size: $base-font-size-xl; }

.td-n { text-decoration: none; }
.td-u { text-decoration: underline; }
.td-l { text-decoration: line-through; }

.tt-u { text-transform: uppercase; }
.tt-n { text-transform: none; }
.tt-c { text-transform: capitalize; }
.tt-l { text-transform: lowercase; }

.lh-1 { line-height: $base-line-height; }

.whs-n {  white-space: normal; }
.whs-p {  white-space: pre; }
.whs-nw { white-space: nowrap; }