/*  GENERAL UTILITY STYLES AND CLASSES */

/*  SET ALL ELEMENTS TO BOX-SIZING: BORDER-BOX */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
.user-select-none {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*  DEBUG STYLE
    Used for debugging layout issues */
.debug {
    border: 1px solid red;
}

/*  CLEARFIX
    Used to clear containers containing floated elements */
.cf:after {
    content: "";
    display: table;
    clear: both;
}