/* SASS VARIABLES */

$base-spacing-unit: 8px;

$base-font-size: 1.0em;

$color-primary: #FF0000;
$color-secondary: #ffffff;
$color-tertiary: #ffffff;
$color-quaternary: #ffffff;
$color-quinary: #ffffff;

$color-accent: #00FFFF;