/* TODO: add all color variants as variables here, so the variables can be
    used across all stylesheets */

/* SASS VARIABLES */

$base-spacing-unit: 10px;

$base-font-size: 1.4em;

$text-color: #333;

$color-primary: #468966;
$color-secondary: #8E2800;
$color-tertiary: #B64926;
$color-quaternary: #FFB03B;
$color-quinary: #FFF0A5;

$color-accent: #FFB03B;

$desktop-min-breakpoint: 768px;