$container-width: 800px;
$mobile-breakpoint-width: 768px;

$base-spacing-unit: 8px;

$base-font-size-xs: 0.6em;
$base-font-size-sm: 0.6em;
$base-font-size-md: 0.6em;
$base-font-size-lg: 0.6em;
$base-font-size-xl: 0.6em;

$base-line-height: 1;

$color-primary: #FF0000;
$color-accent: #00FFFF;

/* TODO: add more color variables */