/* IMPORTS: LIBS AND VARIABLES */
@import 'normalize';

@import 'vars';
@import 'utils';

@import 'grid';

/* FRAMEWORK IMPORTS: ATOMIC */
/*  Abbreviations from Emmet's cheat sheet: http://docs.emmet.io/cheat-sheet/ */

/* Visual Formatting */
@import 'atoms/position';
@import 'atoms/z-index';
@import 'atoms/float';
@import 'atoms/clear';
@import 'atoms/display';
@import 'atoms/visibility';
@import 'atoms/overflow';
@import 'atoms/zoom';
@import 'atoms/clip';
@import 'atoms/resize';
@import 'atoms/cursor';

/* Margin & Padding */
@import 'atoms/margin';
@import 'atoms/padding';

/* Box Sizing */
@import 'atoms/box-size';
@import 'atoms/box-shadow';
@import 'atoms/size';

/* Font */
@import 'atoms/font';

/* Text */
@import 'atoms/alignment';
@import 'atoms/text';

/* Background */
@import 'atoms/background';
@import 'atoms/color';
@import 'atoms/content';
@import 'atoms/outline';
@import 'atoms/table';
@import 'atoms/border';
@import 'atoms/list';
@import 'atoms/print';
@import 'atoms/opacity';

/* TODO: FRAMEWORK IMPORTS: MOLECULAR */