/*  IMPORTS : LIBS AND VARIABLES */
@import 'normalize';

@import 'vars';

@import 'grid';

/*  GENERAL UTILITY STYLES AND CLASSES */

/*  SET ALL ELEMENTS TO BOX-SIZING : BORDER-BOX */
* { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*  MAIN CONTAINER 
    Set the width to whatever you want the width of your site to be. */
.container { 
    max-width: $container-width;
    margin: 0 auto; 
}

.container:after { 
    content: ""; 
    display: table; 
    clear: both; 
}

/*  DEBUG STYLE
    Used for debugging layout issues */
.debug {
    border: 1px solid red;
}

/*  CLEARFIX
    Used to clear containers containing floated elements */
.cf:after {
    content: "";
    display: table;
    clear: both;
}

/*  FRAMEWORK IMPORTS : ATOMIC */
@import 'atoms/position';
@import 'atoms/float';
@import 'atoms/display';
@import 'atoms/visibility';
@import 'atoms/overflow';
@import 'atoms/margin';
@import 'atoms/padding';
@import 'atoms/size';
@import 'atoms/typography';
@import 'atoms/alignment';
@import 'atoms/background';
@import 'atoms/color';

/*  FRAMEWORK IMPORTS : MOLECULAR */